.father {
    height: fit-content;
    width: 100%;
    background-color: rgb(124, 124, 124);
    color: dark;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
    font-size: 0.9rem;
}

.left {
    max-width: 200px;
    font-size: 0.7rem;
   
}

.left ul {
    list-style: none;
    padding: 0 0 0.5rem 0;
}



.firstli li:first-child {
    font-size: 1rem;
    
}

.firstli li {
    padding-top: 0.5rem;
}


.right {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

img {
    width: 100%;
    height: auto;
}

img:nth-child(1) {
    border-radius: 3rem;
    margin: 0 0 10px 0;
}

.cuadro {
    height: 50px;
    width: 200px;    
    background-color: rgb(172, 172, 172);
    border-radius: 3rem;
}

menu {

    display: inline-flex;
    gap: 15px;
    padding: 0;
}

menu img {
    width: 25px;
    height: auto;
}

.left hr {
    border: 0.1rem solid  rgb(255, 98, 158);

}


.secli li > img {
    width: 7%;
    height: auto;
    margin: 0;
    padding-right: 0.3rem;
}

.secli li {
    padding-bottom: 0.3rem;
}