/* *********************GENERIC*********************** */

html {
    overflow-x: hidden;
}


.btn {
    padding: 1rem;
    background-color: #92e3a9;
    border-radius: 0.8rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: inline-block;

}

.btn:hover {
    background-color: #3fdd6b;
}

img{
    width: 100%;
    height: auto;
}

/* *********************CUSTOM*********************** */


.error-container {
    width: 95%;
    
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: sans-serif, Arial, Helvetica;
    font-size: large;

}

.error-img {
    width: 50%;
    min-width: 400px;
}

.error-elem {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-width: 400;
    flex: 1 1 auto;
}

.error-elem > * {
margin: 0.5rem;
font-weight: 500;
}

