/* *********************GENERIC*********************** */

html {
    box-sizing: border-box;
    /* font-family: ??; */
    scroll-behavior: smooth;
    font-size: 16px;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
}


.btn {
    padding: 1rem;
    background-color: #92e3a9;
    border-radius: 0.8rem;
    text-decoration: none;
    color: rgb(0, 0, 0);

    width: 50%;
    max-width: 250px;

}

.btn:hover {
    background-color: #3fdd6b;
}

img {
    width: 100%;
    height: auto;
}

/* *********************CUSTOM*********************** */


.error-full-center {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    align-items: center;
    height: 100vh;
 
}

.error-container {
    width: 95%;

    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.5rem;
    font-family: sans-serif, Arial, Helvetica;

}

.error-img {
    width: 50%;
    height: 40%;
    min-width: 400px;
    margin-bottom: 50px;
 
}

.error-elem {
    width: 50%;
    height: 40%;
    margin-bottom: 125px;
 /*    min-width: 400px; */
  /*   min-height: 250px; */
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;


}

.error-elem>* {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.9rem;
    margin-top: 0;
    font-weight: 500;
}

@media screen and (min-width: 843px) {
    .error-elem {
        margin: 0;
    }
}